<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Finder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-container">
    <h1>Find Delicious Recipes</h1>
    <p class="help-text">Enter an ingredient you have and we'll find recipes for you</p>
    
    <ion-item lines="none">
      <ion-input label="Main Ingredient" labelPlacement="floating" [(ngModel)]="ingredient" placeholder="Try chicken, beef, or tomatoes"></ion-input>
    </ion-item>
    
    <ion-button expand="block" class="find-button" (click)="findRecipe()">
      <ion-icon slot="start" name="search-outline"></ion-icon>
      Find Recipe
    </ion-button>
  </div>
</ion-content>
